.gameArea{
    display: grid;
    max-height: 80vh;
    aspect-ratio: 1;


    >div{
        aspect-ratio: 1;
        border: 1px solid black;
    }
    >div.water{
        background-color: blue;
    }
    >div.grass{
        background-color: green;
    }
    >div.sand{
        background-color: rgb(236, 197, 124);
    }
    >div.mountain{
        background-color: rgb(51, 50, 47);
    }
    >div.stone{
        background-color: rgb(51, 50, 47);
    }
}